@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding:0;
    margin: 0;
    font-family:'Poppins' sans-serif;
    
}
.container{
width:100%;
 height: 134vh;
background-image: url(Images/hanako2.jpg);
background-position: center;
background-size:cover;
position: relative;
}

.navbar{
    width: 40%;
   
    display: flex;
    justify-content: space-between;
    float: left;
    margin-left:44px;
    margin-top:30px;
    border-radius: 20px; 
    background: rgba(3, 81, 102, 0.41);
    box-shadow:  0 0 40px #fff;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
}
.logo1{
    width: 40px;
    border-radius: 50%;
    margin-left: 33px;
    margin-top: 18px;
    box-shadow: 0 0 2px 2px rgb(49, 226, 226);
}
.creator{
    padding: 10px 10px;
}
.logo2{
    width:40px;
    background: #fff;
    border-radius: 50%;
    float: right;
    margin-top: 15px;
    margin-right: 15px;
    box-shadow: 0 0 8px 2px rgb(248, 232, 2);
}
.navbar ul button
{
background: none;
transition: all 0.3s ease 0s;
font-size: 18px;
font-weight: bold;
border: none;
margin-bottom: 25px;
border-radius: 20px;
color: #f3ebeb;
cursor: pointer;
font-family: 'Poppins';
font-weight: bold;
margin-top:25px;
    margin-right: 40px;
}
.navbar ul button:hover{
    color: #e26b75;
}

.container .hanako{
  width:41%;
  margin-top:270px;
  margin-left: 46px;
 background: rgba(1, 54, 68, 0.41);
border-radius: 20px;
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(5px);
box-shadow:  0 0 40px  #fff;

}
.container .hanako .logo3{
  width:100px;
  margin-top:30px;
  margin-left:30px;
  border-radius: 15px;
 box-shadow:  0 0 0 2px rgb(248, 242, 248);
}
.container .hanako .details{
  width:65%;
  border-radius: 20px;
  margin-top: 30px;
  margin-right: 30px;
  float: right;  
  box-shadow:
  inset 100px 0 120px rgb(240, 50, 76),  
  inset -60px 0 120px rgb(3, 255, 255);
}
.container .hanako .details .name{
   font-size: 30px;
   font-weight: bold;
   font-family: 'Poppins';
   color: #fff; 
   margin-top: 33px;
   margin-left: 20px;
}
.container .hanako .details .artist{
  font-size: 16px;
  font-weight: bold;
  font-family: 'Poppins';
  color: #fff; 
  margin-left: 20px;
}
.container .hanako .details .cover{
  width:120px;
  margin-top: -64px;
  margin-right:20px;
  margin-bottom: 15px;
  float: right;
  box-shadow: 0 0 10px #fff,
  0 0 0 2px rgb(248, 242, 248);
  border-radius: 50%;
}
.container .hanako .controls {
  cursor: pointer;
  width: 90% ;
height: 12vh;
  text-decoration: none;
  margin-left: 48px;
  margin-top: 90px;
  bottom: 0;
  
}
.controls .progress-area{
  height: 16.7vh;
  width: 100%;
  margin-top: -13px;
  margin-left: -48px;
  border-radius: 20px;
  box-shadow:
  inset 60px 0 100px rgb(240, 50, 76),  
  inset -60px 0 100px rgb(3, 255, 255);
  position: fixed;
  bottom: 0;

}

.timer1 .current-time{

float: left;
position: fixed;
left: 35px;
bottom: 45px;
}
.timer2 .max-time{
 
  float: right;
  position: fixed;
  right: 35px;
  bottom: 45px;
}
.command i{
 font-size: 20px;
  user-select: none;
  background: none;
  outline: none;
  color: white;
  padding: 24px 50px 20px 50px;
  border: none;
}
.command #icon{
  width: 58px;
  
}
.command button{
border: none;
background: none;
margin-top: 42px;
}
.command{
 display: flex;
 justify-content: center;
}

span{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 13px;
    user-select: none;
    background: #ffffff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.playlist{
    width: 40%;
    border-radius: 20px;
    margin-right: 45px;
    margin-top: -500px;
    float:right;
    background: rgba(3, 81, 102, 0.41);
    padding-bottom: 30px;
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(5px);
box-shadow:  0 0 30px 4px #cfcdcd;
}

.logo2{
    transition: transform 1s;
}
.logo2:hover{
    transform: rotate(360deg) translateZ(0);
}
.details img{
    
    animation: rotate 3.5s linear infinite;
}
@keyframes rotate{
        from{
             
          transform: rotate(0deg)
            }
            to{
              
              transform: rotate(360deg)
            }
}


#play:focus{
    outline: none;
    
}
.playlist .wrapper{
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.progress-area img{
  width: 55px;
  margin-top: 50px;
  
}
.progress-area #progress{
  
  margin-left: 40px;
  width: 85%;
  border-radius: 4px;
  height: 6px;
margin-top: 30px;
 position: fixed;
  bottom: 70px;
  background: #f05ea2;
  -webkit-appearance: none;
}
#progress::-webkit-slider-thumb{
  -webkit-appearance: none;
  background: #f05ea2;
width: 20px;
height: 20px;
border-radius: 50%;
border: 3px solid rgb(250, 249, 249);
box-shadow: 0 0 0px 1px rgb(255, 255, 255);
}
.loading{
  margin: 4px;
  width: 5px;
  height: 30px;
  background: linear-gradient(45deg, #25d1e7, rgb(235, 83, 83));
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.loading:nth-child(2){
  animation-delay: 0.1s;
}
.loading:nth-child(3){
  animation-delay: 0.2s;
}
.loading:nth-child(4){
  animation-delay: 0.3s;
}
.loading:nth-child(5){
  animation-delay: 0.4s;
}
.loading:nth-child(6){
  animation-delay: 0.5s;
}
.loading:nth-child(7){
  animation-delay: 0.6s;
}
.loading:nth-child(8){
  animation-delay: 0.7s;
}
.loading:nth-child(9){
  animation-delay: 0.8s;
}
.loading:nth-child(10){
  animation-delay: 0.9s;
}
@keyframes wave{
  0%{
    transform: scale(0);

  }
  50%{
    transform: scale(1);

  }
  100%{
    transform: scale(0);

  }
}
.playlist .songLyrics{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #f5eeee;
  
}
.playlist .lyrics2{
  width: 48%;
 margin-left: 30px;
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: bold;
  color: #f5eeee;
 float: left;
 margin-top: 20px;
 
}

.playlist .lyrics3{
  width: 46%;
  float: right;
  margin-top: 20px;
}
h4{
  
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: bold;
  color: #f5eeee;
  
}

.icon{
  font-size: 70px;
  cursor: pointer;
}
.icon:hover{
  color: rgb(240, 57, 57);
}
footer{
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
text-align: center;
box-shadow:
  inset 100px 0 120px rgb(240, 50, 76),  
  inset -100px 0 180px rgb(3, 184, 255);
}








